@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.back{
    height: 79vh;
}
.item{
    margin: 10px 0;
    display: block;
}
.one{
    border: none;
}
.forgot{
    margin-top: 20px;
    display: block;
}
.gambar{
    margin-top: 4rem;
}

.rb{
    padding: 2rem;
    margin-top: 1.3rem;
    background: rgb(0, 138, 193);
    text-align: center;
  }
  
  .foot-menu a {
    color: black;
    text-decoration: none;
  }